@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1,
div,
ol,
ul,
h2,
h3,
h4,
h5,
h6,
a,
Link,
.navlink,
p,
span,
select,
option {
  font-family: 'Montserrat';
}

.mt-7 {
  margin-top: 7rem !important;
}

.ms-8 {
  margin-left: 8rem !important;
}

@media (max-width: 576px) {
  .col-xs-5 {
      flex: 0 0 auto;
      width: 61.66666667%;
  }

}



.custom-select {
  cursor: pointer;
  /* appearance: none;   */
  border: none;
  /* padding: 10px; */
  /* background-color: #f0f0f0;   */
  color: #333;
  border-radius: 5px;
  /* Закругленные углы */
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Плавная анимация */
}



.custom-select:focus {
  outline: none;
}





/* From Uiverse.io by d3uceY */
.download-btn {
  height: 45px;
  width: max-content;
  cursor: pointer;
  background: white;
  border: none;
  background: #ff0021;
  border-radius: 30px;
  overflow: hidden;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #fff;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* hover state for the button */


.text-direction,
.text-main {
  position: absolute;
  bottom: 5%;
  right: 40%;
  left: 5%;
}

.logo-color {
  color: #ff6600;
}

.line2 {
  height: 3px;
  width: 50px;
  min-width: 50px;
  background-color: #ff6600;
  margin-top: 7px;
  margin-right: 10px;
}

.block {
  position: relative;
  /* Для контекста позиционирования */
  cursor: pointer;
}

.line {
  height: 4px;
  border-radius: 50px;
  background-color: #c2c2c2;
  /* Цвет по умолчанию */
  transition: background-color 0.3s ease;
  /* Плавный переход цвета */
}

/* При наведении на блок меняем цвет линии */
.block:hover .line {
  background-color: #ff6600;
}

.tick {
  background-color: #ff6600;
  border-radius: 100%;
  padding: 5px 6px;
  color: white;
}

.form {
  border: none;
  outline: none;
  background-color: #eae9e9;
  min-height: auto;
  padding-top: .82rem;
  padding-bottom: .82rem;
  padding-left: .75rem;
  padding-right: .75rem;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

.uniqueBtn {
  position: absolute;

  width: 4rem;
  height: 4rem;
}

.parallax-header {
  height: 930px;
}



@media (max-width: 768px) {
  .parallax-header {
    height: 900px;
    /* Уменьшаем высоту */
  }

  .parallax-header .display-3 {
    font-size: 2rem;
    /* Уменьшаем размер шрифта */
  }

  .positionary{
    margin: 0 auto;
    text-align: center;
  }

  .companyName {
    text-align: center;
  }


}


@media (max-width: 768px) {
  .text-direction {
    font-size: 0.9rem;
    /* Уменьшаем размер текста */
    padding: 1rem;
    /* Уменьшаем отступы */
  }

  .h-100 {
    height: unset;
  }



  .text-direction h1 {
    font-size: 1.5rem;
    /* Уменьшаем размер заголовка */

  }

  .text-direction p {
    font-size: 0.8rem;
    /* Уменьшаем размер текста в описании */
  }

  .rounded-9 {
    border-width: 2px;
    /* Уменьшаем толщину рамки */
  }

  .uniqueBtn {
    font-size: 1rem;
    /* Уменьшаем размер кнопки */
  }


  .text-direction {
    left: 5%;
    right: 25%;
    bottom: 3%;
  }

  .img-fluid {
    width: 100%;
    /* Уменьшаем ширину изображения */
    max-width: 300px;
    /* Ограничиваем максимальный размер */
    margin-top: rem;
    /* Добавляем отступы */
  }

  .projectBlock {
    margin: 0 auto;
  }
}

.image-container {
  position: relative;
}

.image-container {
  position: relative;
}

/* Изображение */
.image {
  width: 100%;
  border-radius: 15px;
  border: 5px solid #fff;
}

@media (max-width: 320px) {
  .image-container{
    display: none;
  }  

  .parallax-header {
    height: 500px;
  }
  

}


/* Наложение текста */
.text-overlay {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 15px;
  z-index: 2;
  text-align: left;
  /* Текст выравнен по левому краю */
}

/* Кнопка */
.unique-btn {
  background-color: #ff6600;
  position: absolute;
  left: 90%;
  bottom: 90%;
  transform: translate(-50%, 50%);
  /* Центровка кнопки */
}

/* Адаптивность для диапазона 992px - 1600px */
@media (min-width: 992px) and (max-width: 1600px) {
  .text-overlay {
    bottom: 7%;
    /* Чуть выше */
    left: 5%;
    right: 30%;
    /* Увеличиваем ширину блока */
    padding: 20px;
    /* Чуть больше пространства внутри */
    font-size: 1rem;
    /* Размер текста чуть меньше */
  }

  .unique-btn {
    left: 85%;
    /* Чуть ближе к блоку */
    bottom: 85%;
    /* Чуть выше */
    transform: translate(-50%, 50%);
    /* padding: 10px 15px; */
    /* Уменьшаем размеры кнопки */
    /* font-size: 1rem; */
    /* Уменьшенный шрифт */
  }
}

/* Адаптивность для планшетов */
@media (max-width: 992px) {
  .text-overlay {
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 12px;
    /* font-size: 0.9rem; */
    /* text-align: center; */
    /* Центрируем текст */
  }

  
  .companyName {
    margin: 0 auto;
  }

  .unique-btn {
    left: 85%;
    bottom: 85%;
    /* font-size: 0.9rem; */
    /* Уменьшаем шрифт */
  }
  .positionary{
    margin: 0 auto;
    text-align: center;
  }
}

/* Адаптивность для мобильных */
@media (max-width: 576px) {
  .text-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 10px; */
    /* font-size: 0.8rem; */
    /* text-align: center; */
    /* На мобильных устройствах текст по центру */
  }

  .unique-btn {
    left: 90%;
    bottom: 86%;
    /* transform: translate(-50%, 50%); */
    /* font-size: 0.8rem; */
    /* Уменьшенный шрифт */
  }
  .positionary{
    margin: 0 auto;
    text-align: center;
  }
}

